body {
    background-color: #f1ecea;
}

ul {
    text-align: center;
    /*  text-orientation: ;*/
}

img {
    width: 100px;
    height: 100px;
    border: #362f2f;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
}

#pagina {
    width: 900px;
    height: 1000px;
}

#cabecera {
    height: 15%;
    background-color: #3a251c;
}

#BarraNavegacion {
    height: 5%;
    background-color: #b46424;
}

#seccion {
    width: 64%;
    height: 70%;
    background-color: #362f2f;
    float: left;
}

#asize {
    width: 35%;
    height: 70%;
    background-color: #b58c7c;
    float: right;
}

#pie {
    background-color: #3a251c;
    height: 10%;
    float: left;
    width: 100%;
    color: #f1ecea;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.txt {
    color: #f1ecea;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    color: #f1ecea;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    color: #f1ecea;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: floralwhite;
    border: gold;
    border-style: solid;
}

.ME {
    color: green;
}

.XI {
    color: white;
}

.CO {
    color: red;
}
.cabeza{
    color: #f1ecea;
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}